body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: linear-gradient(180deg,#1b2530 0,rgba(27,37,48,.85)); */
}
main{
    flex-grow: 1;
}

@media all and (max-width:767px){
    .carousel-responsive{
        height: 250px;
        object-fit: cover;
    }

    .btn{
        width: 100%;
    }
}

a{
    text-decoration: none;
}